<!-- 
Copyright Kakusui LLC 2024 (https://kakusui.org) (https://github.com/Kakusui)
Use of this source code is governed by a GNU General Public License v3.0
license that can be found in the LICENSE file.
-->

{% extends "base.html" %}

{% block title %}
Okisouchi | Terms Of Service
{% endblock %}

{% block content %}
<div class="okisouchi-container">
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/load-markdown.js') }}"></script>
<script>
loadMarkdown("{{ url_for('static', filename='markdown/okisouchi/TOS.md')}}", containerSelector=".okisouchi-container")
</script>
{% endblock %}