fastapi==0.110.3
kairyou==1.6.5
uvicorn==0.30.0
easytl==0.4.7
httpx==0.25.1
elucidate==0.0.1
passlib==1.7.4
pyotp==2.9.0
bcrypt==3.1.7
sqlalchemy==2.0.31
python-gnupg==0.5.2
apscheduler==3.10.4
pyjwt==2.8.0
python-multipart==0.0.9