<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Kakusui | Home{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/okisouchi">Okisouchi</a></li>
        </ul>
    </nav>
  </header>

  {% block content %}
  <!-- Default content can go here if any -->
  {% endblock %}

  <footer>
    Kakusui loves open source! <a href="https://github.com/kakusui/kakusui-org" target="_blank">This Website's Github!</a>
  </footer>

  <script src="{{ url_for('static', filename='js/footer-header-loader.js') }}"></script>
</body>
</html>
