<!-- 
Copyright Kakusui LLC 2024 (https://kakusui.org) (https://github.com/Kakusui)
Use of this source code is governed by a GNU General Public License v3.0
license that can be found in the LICENSE file.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='shortcut icon' href="{{ url_for('static', filename='images/favicon.png') }}" type='image/x-icon'/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Kakusui | Home{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/okisouchi">Okisouchi</a></li>
        </ul>
    </nav>
  </header>

  {% block content %}
  {% endblock %}

  <footer>
    Kakusui loves open source! <a href="https://github.com/kakusui/kakusui-org" target="_blank">This Website's Github!</a>
  </footer>

  {% block scripts %}
  {% endblock %}
</body>
</html>