/* 
Copyright Kakusui LLC 2024 (https://kakusui.org) (https://github.com/Kakusui)
Use of this source code is governed by a GNU General Public License v3.0
license that can be found in the LICENSE file.
*/

:root 
{
  --background-dark: #000000;
  --background-grey: #333333;
  --accent-color: #8B0000;
  --text-primary: #CCCCCC;
  --text-highlight: #DAA520;
  --light-blue: #add8e6;
  --white: #ffffff;
}

/* General Kakusui CSS */

body::-webkit-scrollbar 
{
  display: none;
  
}

body 
{
  overflow-y: scroll; /* Force vertical scrollbar */
  overflow-x: hidden; /* Prevent horizontal overflow */
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--background-grey);
  color: var(--text-primary);
}

body a 
{
  color: var(--text-highlight);
}

/* Home and Okisouchi Pages */

.okisouchi-container h1, h2, h3, p, ul, li, .home-container h1, h2, h3, p, ul, li 
{
  margin: 0;
  padding: 0;
}

.okisouchi-container, .home-container 
{
  padding: 5rem 2rem 3rem 2rem;
}

.okisouchi-container ul, .home-container ul 
{
  padding-left: 1em;
}

/* Kairyou Page */

.kairyou-container 
{
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  background-color: var(--background-dark);
  padding: 2rem;
  padding-top: 50;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kairyou-container h1
{
  color: var(--white);
  text-align: center;
  margin-bottom: 2rem;
}

.kairyou-container h4
{
  color: var(#CCCCCC);
  text-align: center;
}

.input-section, .output-section 
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input-block
{
  flex: 1;
  margin-right: 440px;
}

.output-block 
{
  flex: 1;
  margin-right: 115px;
}

.input-block:last-child, .output-block:last-child 
{
  margin-right: 0;
  text-align: center;
}

.form-control 
{
  margin-top: 10px;
  background-color: var(--background-grey);
  color: var(--text-primary);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.file-input 
{
  display: none;
}

.custom-file-upload {
  display: inline-block;
  margin-top: 10px;
  margin-left: 50px;
  padding: 6px 12px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover 
{
  background-color: var(--text-highlight);
}

.input-section .input-block:nth-child(2) .custom-file-upload {
  margin-left: 0;
}

.submit-button 
{
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover 
{
  background-color: var(--text-highlight);
}

/* Header */

header 
{
  background-color: var(--background-dark);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

header nav ul 
{
  list-style: none;
  display: flex;
  gap: 2rem;
}

header nav ul li a 
{
  text-decoration: none;
  color: var(--text-primary);
  font-weight: bold;
}

header nav ul li a:hover 
{
  color: var(--text-highlight);
}


/* dropdown container */
header nav ul li ul 
{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: var(--background-dark);
  padding: 1rem;
  gap: 1rem;
}

header nav ul li:hover ul 
{
  display: block;
}

header nav ul li ul li 
{
  float: none;
}

header nav ul li ul li a 
{
  color: var(--text-primary);
}

header nav ul li ul li a:hover 
{
  color: var(--text-highlight);
}

/* Footer */

footer
{
  background-color: var(--background-dark);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  z-index: 100;
}

footer a 
{
  color: var(--text-highlight);
}

/* Error Pages
Universal Number Pages */

.error-page 
{
  background-color: var(--background-dark);
}

.container-error-page 
{
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
  color: var(--white);
}

.container-error-page h1 
{
  margin: 50px 0;
  font-size: 5em;
  color: var(--white);
}

.container-error-page p 
{
  margin: 20px 0;
  font-size: 1.25em;
}

.error-page-home-link 
{
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--text-highlight);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.error-page-home-link:hover 
{
  background-color: var(--text-highlight);
}

.error-page-broken-link 
{
  color: var(--light-blue);
  text-decoration: none;
}

.error-page-broken-link:hover 
{
  color: var(--white);
}