<!-- 
Copyright Kakusui LLC 2024 (https://kakusui.org) (https://github.com/Kakusui)
Use of this source code is governed by a GNU General Public License v3.0
license that can be found in the LICENSE file.
-->

{% extends "base.html" %}

{% block title %}
Kakusui | Okisouchi
{% endblock %}

{% block content %}
<div class="okisouchi-container">
  <h1>Okisouchi</h1>
  <p>Welcome to <a href="https://github.com/Kakusui/OSC_Interface" target="_blank">Okisouchi</a>, by using this service you agree to the 
    <a href="{{ url_for('tos') }}">terms of service</a> and 
    <a href="{{ url_for('privacy_policy') }}">privacy policy</a>.
  </p>

  <p><br>Okisouchi is a robust, open-source tool for automating the transfer of files from Google Drive to designated locations, streamlining file management and organization with user-configured settings while ensuring data privacy and adherence to GPLv3 open-source licensing.</p>

  <p><br>To Use:</p>
  <p><br>The whole process is detailed further on where the source code is located <a href="https://github.com/Kakusui/OSC_Interface" target="_blank">here</a> but put simply:</p>
  <p><br>Simply download the source code, set up your LocalConfig file, and configure the following paths:<br></p>
  <ul>
    <li>downloaded_files_directory_name (name of the directory to download files to, this will be newly created locally and also be where your files are transferred to)</li>
    <li>file_paths_to_transfer.txt (Additional file paths to transfer to the target location, these should be full local paths, one per line)</li>
    <li>google_folder_ids.txt (the folder ids of the folders you want to download from, these can be found in the URL of the folder)</li>
    <li>google_folder_names.txt (the names of the folders you want to download from, these should be the names of the folders in your Google Drive)</li>
    <li>target_location.txt (where to put the files, this should be a full local path, or a usb stick like E://)</li>
  </ul>
  <p><br>Once this is completed, you can simply run the run.py file and log in through Google, and your transfer will complete.</p>

  <p><br>We recommend that you read the full README file on the GitHub repository to understand the full process at <a href="https://github.com/Kakusui/OSC_Interface/blob/main/README.md" target="_blank">this link</a>.</p>
</div>
{% endblock %}
