{% extends "base.html" %}

{% block title %}
Kakusui | Okisouchi
{% endblock %}

{% block content %}
<div class="container">
  <h1>Okisouchi</h1>
  <p>Welcome to <a href="https://github.com/Kakusui/OSC_Interface" target="_blank">Okisouchi</a>, by using this service you agree to the 
    <a href="{{ url_for('tos') }}">terms of service</a> and 
    <a href="{{ url_for('privacy_policy') }}">privacy policy</a>.
  </p>

  <p>Okisouchi is a robust, open-source tool for automating the transfer of files from Google Drive to designated locations, streamlining file management and organization with user-configured settings while ensuring data privacy and adherence to GPLv3 open-source licensing.</p>

  <p>To Use:</p>
  <p>The whole process is detailed further on where the source code is located <a href="https://github.com/Kakusui/OSC_Interface" target="_blank">here</a> but put simply:</p>
  <p>Simply download the source code, set up your LocalConfig file, and configure the following paths:</p>
  <ul>
    <li>blacklist.txt (folder names to ignore when merging directories)</li>
    <li>file_names.txt (files to import from)</li>
    <li>folder_ids.txt (gfolder id's to retrieve content from)</li>
    <li>folder_names.txt (those gfolder names)</li>
    <li>target_location.txt (where to put the files)</li>
  </ul>
  <p>Once this is completed, you can simply run the run.py file and log in through Google, and your transfer will complete.</p>

  <p>We recommend that you read the full README file on the GitHub repository to understand the full process at <a href="https://github.com/Kakusui/OSC_Interface/blob/main/README.md" target="_blank">this link</a>.</p>
</div>
{% endblock %}