<!-- 
Copyright Kakusui LLC 2024 (https://kakusui.org) (https://github.com/Kakusui)
Use of this source code is governed by a GNU General Public License v3.0
license that can be found in the LICENSE file.
-->

{% extends "base.html" %}

{% block title %}
Kakusui | Kairyou
{% endblock %}

{% block content %}
<div class="kairyou-container">
    <h1><a href="https://github.com/bikatr7/kairyou" target="_blank">Kairyou - Text and JSON Preprocessor</a></h1>
    <h4>"Better Design Pending"</h4>
    <div class="input-section">
        <div class="input-block">
            <h2>Text Input</h2>
            <textarea class="form-control" id="textToPreprocess" rows="10"></textarea>
            <label for="textFileInput" class="custom-file-upload">
              Browse
            </label>
            <input id="textFileInput" class="form-control file-input" type="file">
        </div>
        <div class="input-block">
            <h2>JSON Input</h2>
            <textarea class="form-control" id="replacementsJson" rows="10"></textarea>
            <label for="jsonFileInput" class="custom-file-upload">
              Browse
            </label>
            <input id="jsonFileInput" class="form-control file-input" type="file">
        </div>
    </div>
    <div class="output-section">
        <div class="output-block">
            <h2>Preprocessed Text</h2>
            <textarea class="form-control" id="preprocessedText" rows="10" readonly></textarea>
        </div>
        <div class="output-block">
            <h2>Preprocessing Log</h2>
            <textarea class="form-control" id="preprocessingLog" rows="10" readonly></textarea>
        </div>
        <div class="output-block">
            <h2>Error Log</h2>
            <textarea class="form-control" id="errorLog" rows="10" readonly></textarea>
        </div>
    </div>
    <button class="btn btn-primary submit-button" id="submitButton">Submit</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/clearInputs.js') }}"></script>
<script src="{{ url_for('static', filename='js/kairyou/apiCall.js') }}"></script>
<script src="{{ url_for('static', filename='js/kairyou/validateInputs.js') }}"></script>
<script src="{{ url_for('static', filename='js/kairyou/fileInputHandlers.js') }}"></script>
<script type="text/javascript">
    window.onload = function() 
    {
        clearElements(['textToPreprocess', 'replacementsJson', 'textFileInput', 'jsonFileInput', 'preprocessedText', 'preprocessingLog', 'errorLog']);
        
        document.getElementById('submitButton').addEventListener('click', function() 
        {
            if (validateInputs()) 
            {
                makeApiRequest("{{ api_key }}");
            }
        });
    };
</script>
{% endblock %}