<!-- 
Copyright Kakusui LLC 2024 (https://kakusui.org) (https://github.com/Kakusui)
Use of this source code is governed by a GNU General Public License v3.0
license that can be found in the LICENSE file.
-->

{% extends "base.html" %}

{% block title %}
Kakusui | Kairyou
{% endblock %}

{% block content %}
<div class="container">
    <h1>Kairyou</h1>
    <div class="row">
        <div class="col">
            <h2>Text Input</h2>
            <textarea class="form-control" id="textToPreprocess" rows="3"></textarea>
            <input type="file" class="form-control" id="textFileInput">
        </div>
        <div class="col">
            <h2>JSON Input</h2>
            <textarea class="form-control" id="replacementsJson" rows="3"></textarea>
            <input type="file" class="form-control" id="jsonFileInput">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" id="submitButton">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Preprocessed Text</h2>
            <textarea class="form-control" id="preprocessedText" rows="3" readonly></textarea>
        </div>
        <div class="col">
            <h2>Preprocessing Log</h2>
            <textarea class="form-control" id="preprocessingLog" rows="3" readonly></textarea>
        </div>
        <div class="col">
            <h2>Error Log</h2>
            <textarea class="form-control" id="errorLog" rows="3" readonly></textarea>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/clearInputs.js') }}"></script>
<script src="{{ url_for('static', filename='js/kairyou/apiCall.js') }}"></script>
<script src="{{ url_for('static', filename='js/kairyou/validateInputs.js') }}"></script>
<script type="text/javascript">
    window.onload = function() 
    {
        clearElements(['textToPreprocess', 'replacementsJson', 'textFileInput', 'jsonFileInput', 'preprocessedText', 'preprocessingLog', 'errorLog']);
        
        document.getElementById('submitButton').addEventListener('click', function() 
        {
            if (validateInputs()) 
            {
                makeApiRequest("{{ api_key }}");
            }
        });
    };
</script>
{% endblock %}