<!-- 
Copyright Kakusui LLC 2024 (https://kakusui.org) (https://github.com/Kakusui)
Use of this source code is governed by a GNU General Public License v3.0
license that can be found in the LICENSE file.
-->


<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="javascript:void(0);">Applications</a>
                <ul>
                    <li><a href="/okisouchi">Okisouchi</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

